.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
h4 {
  font-size: larger;
  text-transform: uppercase;

  margin: 5px;
}
.container {
  width: 400px;
  padding: 1rem;
  height: fit-content;
  display: flex;
  background-color: azure;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #484848;
}
